@charset "utf-8";
/*通用样式库*/
/* $hack :ie 6 _  \ ie7 *+ \  ie6,ie7 *  \  ie7,firefox !important */

/*font*/
/*font-family、font-weight*/
.fn {
	font-weight: normal;
	font-style: normal;
}
.fb {
	font-weight: bold;
}
.fa {
	font-family: Arial;
}
.ft {
	font-family: Tahoma;
}
.fs {
	font-family: '宋体';
}
.fw {
	font-family: '微软雅黑';
}
.fh {
	font-family: '黑体';
}
/*font-size*/
.f10 {
	font-size: 10px;
}
.f12 {
	font-size: 12px;
}
.f13 {
	font-size: 13px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f20 {
	font-size: 20px;
}
.f24 {
	font-size: 24px;
}

/*line-height*/
.lh14 {
	line-height: 14px;
}
.lh16 {
	line-height: 16px;
}
.lh18 {
	line-height: 18px;
}
.lh20 {
	line-height: 20px;
}
.lh22 {
	line-height: 22px;
}
.lh24 {
	line-height: 24px;
}
.lh25 {
	line-height: 25px;
}

/*text-align*/
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.tl {
	text-align: left;
}
/*vertical-align*/
.vtb {
	vertical-align: text-bottom;
}
.vt {
	vertical-align: top;
}
.vm {
	vertical-align: middle;
}
.vn {
	vertical-align: -2px;
}
.vimg {
	margin-bottom: -3px;
}
.z {*zoom: 1;}


/*text-decoration*/
a.tdu, .tdu a, a.tdn:hover, .tdn a:hover {/*可给本身a元素或a元素的父元素挂上class*/
	text-decoration: underline;
}
a.tdn, .tdn a, a.tdu:hover, .tdu a:hover {
	text-decoration: none;
}


/*color*/
.color0 {
	color: #000000;
}
.color3 {
	color: #333333;
}
.color6 {
	color: #666666;
}
.color9 {
	color: #999999;
}
.red {
	color: red;
}
.white {
	color: white;
}
.black {
	color: black;
}




/*height*/
.h14 {
	height: 14px;
}
.h16 {
	height: 16px;
}
.h18 {
	height: 18px;
}
.h20 {
	height: 20px;
}
.h22 {
	height: 22px;
}
.h24 {
	height: 24px;
}
.h25 {
	height: 25px;
}
.h68 {
	height: 68px;
}



/*width*/
.w14 {
	width: 14px;
}
.w16 {
	width: 16px;
}
.w18 {
	width: 18px;
}
.w20 {
	width: 20px;
}
.w22 {
	width: 22px;
}
.w24 {
	width: 24px;
}
.w650 {
	width: 650px;
}
.w950 {
	width: 950px;
}



/*margin*/
/*negative margin*/
.ml-1 {
	margin-left: -1px;
}
.mt-1 {
	margin-top: -1px;
}
.m0 {
	margin: 0;
}
/*margin-top*/
.mt1 {
	margin-top: 1px;
}
.mt2 {
	margin-top: 2px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
/*margin-right*/
.mr1 {
	margin-right: 1px;
}
.mr2 {
	margin-right: 2px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr20 {
	margin-right: 20px;
}
/*margin-bottom*/
.mb1 {
	margin-bottom: 1px;
}
.mb2 {
	margin-bottom: 2px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20{
	margin-bottom: 20px;
}
/*margin-left*/
.ml1 {
	margin-left: 1px;
}
.ml2 {
	margin-left: 2px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml20 {
	margin-left: 20px;
}


/*padding*/
.p1 {
	padding: 1px;
}
.p2 {
	padding: 2px;
}
.p5 {
	padding: 5px;
}
.p10 {
	padding: 10px;
}
.p20 { 
	padding: 20px;
}
/*padding-top*/
.pt1 {
	padding-top: 1px;
}
.pt2 {
	padding-top: 2px;
}
.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pt18 {
	padding-top: 18px;
}
.pt20 {
	padding-top: 20px;
}
/*padding-rig*/
.pr1 {
	padding-right: 1px;
}
.pr2 {
	padding-right: 2px;
}
.pr5 {
	padding-right: 5px;
}
.pr10 {
	padding-right: 10px;
}
.pr20 {
	padding-right: 20px;
}
/*padding-bottom*/
.pb1 {
	padding-bottom: 1px;
}
.pb2 {
	padding-bottom: 2px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb25 {
	padding-bottom: 25px;
}
/*padding-left*/
.pl1 {
	padding-left: 1px;
}
.pl2 {
	padding-left: 2px;
}
.pl5 {
	padding-left: 5px;
}
.pl10 {
	padding-left: 10px;
}
.pl20 {
	padding-left: 20px;
}


/*display*/
.dn {
	display: none;
}
.db {	
	display: block;
}
.dib {
	display: inline-block;
}
.di {
	display: inline;
}


/*position*/
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.auto {
	margin-left: auto;
	margin-right: auto;
}



/*overflow*/
.ovh {
	overflow: hidden;/*内容超出容器时自动隐藏*/
	/*text-indent: -3000px;/*text-indent 属性规定文本块中首行文本的缩进。如果使用负值，那么首行会被缩进到左边。*/
}
.ovs {
	overflow: scroll;
}


/*float*/
.l {
	float: left;
}
.r {
	float: right;
}
.cl {
	clear: left;
}
.cr {
	clear: right;
}
.cb {
	clear: both;
}


/*clear float*/
.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
.clearfix { 
	display: inline-block; 
}
.clearfix { 
	display: block;
	*zoom:1; 
}
.clear { 
	clear: both; 
	height: 0; 
	font: 0/0 Arial; 
	visibility: hidden; 
}


/*z-index*/
.z1 {
	z-index: 1;
}
.z2 {
	z-index: 2;
}
.z3 { 
	z-index: 3;
}
.z-1 {
	z-index: -1;
}