@charset "utf-8"; 
.tab {
	position: relative;
	margin: 30px;
	padding: 10px;
}
/*选项卡标题*/
.tab-title {
	/*border-bottom: 1px solid #cfcfcf;/*下边框1px*/
}
.tab-title li {
	display: inline-block;
	float: left;
	height: 28px;
	line-height: 28px;
	border: 1px solid #cfcfcf;
	border-right: 0;/*去掉右边框*/
	margin-top: 1px;
	position: relative;/*因为ul或content容器有1px的下或上边框，且li也有1px的边框,叠加后变成2px,所以li要利用定位使本身位置下移1像素*/
	top: 1px;
	z-index: 1;
	background: #fbfbfb;/*可改变其他背景颜色*/
	/*border-radius: 3px;*/
}
.tab-title li.active {/*当前li的样式*/
	border-top: 2px solid #5ba533;/*因为上边框设置为2px，所以li的上外边距要设置为0*/
	border-bottom-color: #fff;/*给下边框的颜色设置为白色或透明实现去掉下边框的效果*/
	z-index: 2;
	margin-top: 0;
	/*background: #fff;*/
}
#tab-title-item-last {
	border-right: 1px solid #cfcfcf;/*给最后一个li补上右边框*/
}
.tab-title a {
	color: #333;
	padding: 0 16px;
	line-height: 28px;
}
.tab-title a:hover { 
	color: #5ba533;
	text-decoration: none;
} 

/*选项卡内容*/
.tab-content {
	border: 1px solid #cfcfcf;
	/*border-top: none;/*去掉上边框*/
	padding: 10px 25px;
	width: 400px;
	position: absolute;
	left: -20px;
}
.tab-content-pane {/*内容隐藏*/
	display: none;
}
.tab-content .current {/*内容显示*/
	display: block;
}